.background {
   background-repeat: repeat;
}

.home {
   background-image: url(../images/hero.png);
   min-height: 100vh;
   background-position: center bottom;
   background-repeat: no-repeat;
   overflow: hidden;
}

.portfolio {
   background-image: url(../images/Background\ -\ Portfolio.png);
}

.blog {
   background-image: url(../images/Background\ -\ Blog.png);
}

.blogs {
   background-image: url(../images/Background\ -\ Blogs.png);
}

.contact {
   background-image: none;
   background-color: #fff;
}

.shop {
   background-image: url(../images/Artboard\ 1.png);
}

/* * IPAD * */
@media only screen and (min-width: 768px) {
   .background {
      min-height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}

/* * LARGE * */
@media only screen and (min-width: 1607px) {
   .contact {
      background-image: url(../images/Background\ -\ Contact.png)
   }
}