.background {
   background-repeat: repeat;
}

.home {
   background-image: url(../images/hero.png);
   min-height: 100vh;
   background-position: center;
}

.portfolio {
   background-image: url(../images/background-portfolio.png);
}

.blog {
   background-image: url(../images/background-blog.png);
}

.blogs {
   background-image: url(../images/background-blogs.png);
}

.contact {
   background-image: url(../images/background-contact.png);
}

.shop {
   background-image: url(../images/Artboard\ 1.png);
}

/* * IPAD * */
@media only screen and (min-width: 768px) {
   .background {
      min-height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}